<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Interop" version="17.4.33103.184" targetFramework="net45" />
  <package id="SkiaSharp" version="1.68.3" targetFramework="net45" />
  <package id="stdole" version="17.4.33103.184" targetFramework="net45" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net45" />
  <package id="System.Memory" version="4.5.3" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
</packages>